<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/7cfd98e1-d821-423e-b2d2-76d7075a38a2/resourceGroups/Containers/providers/Microsoft.ContainerRegistry/registries/techcsa</ContainerResourceId>
    <ContainerResourceName>techcsa</ContainerResourceName>
    <Subscription>Cloud</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>techcsa.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7cfd98e1-d821-423e-b2d2-76d7075a38a2/resourceGroups/Containers/providers/Microsoft.Web/sites/search-bot</ResourceId>
    <ResourceGroup>Containers</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://search-bot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://search-bot.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fde8b63a-f28a-4a08-acd9-6f45015f1848</ProjectGuid>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>